@font-face {
    font-family: "ncaa-army-black-knight";
    src: url(".././font/NCAA\ Army\ Black\ Knight.ttf") format("woff"),
        url(".././font/NCAA\ Army\ Black\ Knight.ttf") format("opentype"),
        url(".././font/NCAA\ Army\ Black\ Knight.ttf") format("truetype");
}

.title-app {
    font-family: "ncaa-army-black-knight";
}
